<%- include('partial/header') %>
  <form action="/blog" method="POST">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="author" placeholder="Author Name" />
    <input type="text" name="tags" placeholder="Tags" />
    <textarea name="description">Description</textarea>
    <input type="submit" value="Submit">
  </form>
  <%- include('partial/footer') %>